= form_for @status, :html => { :class => 'form-inline well dark' } do |f|
  %ol
    %li
      = f.text_field :message, :label => false, :class => 'input-medium'
      %label(for='status_is_clock_out')
        = f.check_box :is_clock_out
        Out
      = f.submit 'Update', :class => 'btn primary'

- @statuses.group_by { |s| s.ended_at.to_date }.each do |day, statuses|
  %table.vborder.thead-decorate.statuses
    %thead
      %tr
        %th
          %h4= day.to_s(:short)
        %th
          %h4= "#{statuses.sum(&:duration_in_hours)} hours"
    %tfoot
      %tr
        %td(colspan=2)
    - statuses.each do |status|
      %tr
        %td.message
          = link_to status.message, edit_status_path(status)
          - if status.current?
            %span.decal.primary Current
        %td.duration
          = "#{number_with_precision(status.duration_in_hours, precision: 2, strip_insignificant_zeros: true)} hours"
          = link_to '&times;'.html_safe, status_path(status), :method => :delete, :class => 'close', :confirm => 'Are you sure?'

