= form_for @status, :html => { :class => 'form-inline well dark' } do |f|
  %ol
    %li
      = f.text_field :message, :label => false, :class => 'input-medium'
      = f.submit 'Update', :class => 'btn primary'

%table.vborder
  %thead
    %tr
      %th(colspan=2)
  %tfoot
    %tr
      %td(colspan=2)
  - @statuses.group_by { |s| s.ended_at.to_date }.each do |day, statuses|
    %tr
      %td
        %h4= day.to_s(:short)
      %td
        %h4= "#{statuses.sum(&:duration_in_hours)} hours"
    - statuses.each do |status|
      %tr
        %td.message
          = status.message
          - if status.current?
            %span.decal.primary Current
        %td.duration= "#{number_with_precision(status.duration_in_hours, precision: 2, strip_insignificant_zeros: true)} hours"

