!!! 5
%html
  %head
    %title Chrono
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta(content='width=device-width, initial-scale=1.0' name='viewport')
    %meta(content='YES' name='apple-touch-fullscreen')
    %meta(content='YES' name='apple-mobile-web-app-capable')
    %meta(content='black' name='apple-mobile-web-app-status-bar-style')

  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.info.btn-navbar{ :data => { :toggle => 'collapse', :target => '#collapse_example' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: '#'} 
            = image_tag 'modeset-logotype-800x80.png', :width => '100'
          %nav.nav-collapse#collapse_example
            %ul.nav
              %li{ :class => request.path =~ /organizations/ ? 'active' : ''}
                = link_to 'Dashboard', organizations_path
              %li{ :class => request.path =~ /statuses/ ? 'active' : ''}
                = link_to 'Status', statuses_path
            %section.pull-right
              %ul.nav
                %li
                  = link_to current_user.name, profile_path
    = yield
